<h1> Welcome to Fake Bustle </h1>

We hope you find exactly what you're looking for in kickass reading material.

<ul>
  {{#each model as |story|}}
     {{story-tile story=story destroyStory="destroyStory"}}
  {{/each}}
</ul>
